<!-- <p>
  user-details works!
</p> -->
<p>
  User:
  <!-- {{(usersStore.state$ | async).selectedUser.getName()}} -->
  <!-- {{usersStore.getSelectedUser().getName()}} -->
  {{user.getName()}}

</p>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <p>
      <label>First Name:</label>
      <input type="text" formControlName="firstName">
  </p>
  <p>
      <label>Last Name:</label>
      <input type="text" formControlName="lastName">
  </p>
  <p>
      <button type="submit">Submit</button>
  </p>
</form>